[submodule "Dimon/vendor/spdlog"]
	path = Dimon/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dimon/vendor/GLFW"]
	path = Dimon/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Dimon/vendor/ImGui"]
	path = Dimon/vendor/ImGui
	url = https://github.com/TheCherno/imgui
[submodule "Dimon/vendor/glm"]
	path = Dimon/vendor/glm
	url = https://github.com/g-truc/glm
